version: 2
updates:
  - package-ecosystem: "maven"
    directory: "/"
    schedule:
      interval: "monthly"
      time: "04:30" # this is in UTC time
    open-pull-requests-limit: 10
    commit-message:
      prefix: "[deps]"
    labels:
      - "dependencies"
    target-branch: "master"


  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
    open-pull-requests-limit: 5
    commit-message:
      prefix: "[workflow]"
    labels:
      - "dependencies"
    target-branch: "master"
