target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

.idea
*.iml

# ignore Eclipse specifics
.classpath
.settings
.project
.factorypath

# ignore temporary test files
javalin/src/test/external/test*.txt

# ignore JTE generated classes
jte-classes/
